# 딕셔너리
- key와 value로 구성되어 있는 자료형

In [1]:
#딕셔너리 생성
dic_1 = {"name":"인쌤"}
dic_1

{'name': '인쌤'}

In [2]:
dic_1 = {"name":"인쌤", "age":20, "phone":"062-655-3509"}
dic_1

{'name': '인쌤', 'age': 20, 'phone': '062-655-3509'}

In [3]:
type(dic_1)

dict

In [26]:
# 딕셔너리 내 데이터 접근
# 반드시 존재하는 key인 경우
print(dic_1['name'])
print(dic_1['age'])
print(dic_1['phone'])
print(dic_1.get('blood'))
print(dic_1.get('blood')==None) # 해당 key가 없는 경우 비교판단 할 수 있다.

인쌤
20
062-655-3509
None
True

In [7]:
# 딕셔너리 데이터 추가
dic_1['height'] = 178

In [9]:
dic_1['address'] = '광주 남구 송암로 60'

In [12]:
dic_1['blood'] = 'A'

In [13]:
dic_1

{'name': '인쌤',
 'age': 20,
 'phone': '062-655-3509',
 'height': 178,
 'address': '광주 남구 송암로 60',
 'blood': 'A'}

In [14]:
dic_test = {'노래제목':'아무노래'}
dic_test

{'노래제목': '아무노래'}

In [18]:
dic_test['가수'] = '지코'

In [16]:
dic_test['날짜'] = '2020.01.13'

In [19]:
dic_test

{'노래제목': '아무노래', '가수': '지코', '날짜': '2020.01.13'}

In [22]:
# 딕셔너리 데이터 삭제 
del dic_1['blood']

KeyError: 'blood'

In [21]:
dic_1

{'name': '인쌤',
 'age': 20,
 'phone': '062-655-3509',
 'height': 178,
 'address': '광주 남구 송암로 60'}

In [28]:
# 딕셔너리 데이터 수정
dic_1['age'] = 25

In [29]:
dic_1

{'name': '인쌤',
 'age': 25,
 'phone': '062-655-3509',
 'height': 178,
 'address': '광주 남구 송암로 60'}

In [33]:
# 딕셔너리의 key값만 접근
for key in dic_1.keys():
    print(key)

name
age
phone
height
address

In [35]:
# 딕셔너리의 value값만 접근
for value in dic_1.values():
    print(value)

인쌤
25
062-655-3509
178
광주 남구 송암로 60

In [36]:
dic_1.items()

dict_items([('name', '인쌤'), ('age', 25), ('phone', '062-655-3509'), ('height', 178), ('address', '광주 남구 송암로 60')])

In [39]:
# 반복문을 활용하여 딕셔너리의 key와 value를 접근
for k,v in dic_1.items():
    print(k)
    print(v)

name
인쌤
age
25
phone
062-655-3509
height
178
address
광주 남구 송암로 60

In [61]:
data = { '기영':98, '기철':80,'오덕':100,'춘식':70}
hap = 0

for avg in data.values():
    hap = hap + avg
for i,j in data.items():
    print(i,'\t',j)
print('============')
print('평균\t {}'.format(int(hap/4)))

기영 	 98
기철 	 80
오덕 	 100
춘식 	 70
============
평균	 87

In [70]:
for k,v in data.items():
    print(k,v)
print('='*10)
sum_score = 0
for score in data.values():
    sum_score = sum_score + score # sum_score +=score

avg = sum_score // len(data.values())
print('평균 : {}'.format(avg))

기영 98
기철 80
오덕 100
춘식 70
==========
평균 : 87

In [69]:
sum(data.values()) // len(data.values())

87

In [85]:
score_dic = {'홍길동':{'수학':99,'영어':80,'국어':75},
             '김미정':{'영어':67, '국어':87,'수학':55},
             '정수진':{'수학':67,'국어':41,'영어':23}}

m = score_dic['홍길동']['수학'] + score_dic['김미정']['수학'] + score_dic['정수진']['수학']
e = score_dic['홍길동']['영어'] + score_dic['김미정']['영어'] + score_dic['정수진']['영어']
k = score_dic['홍길동']['국어'] + score_dic['김미정']['국어'] + score_dic['정수진']['국어']

avg_dic = {'수학': m, '국어': k, '영어': e}
print(avg_dic)

{'수학': 221, '국어': 203, '영어': 170}

In [84]:
score_dic = {'홍길동':{'수학':99,'영어':80,'국어':75},
             '김미정':{'영어':67, '국어':87,'수학':55},
             '정수진':{'수학':67,'국어':41,'영어':23}}

sum_math = 0
sum_eng = 0
sum_kor = 0

for name in score_dic.keys():
    sum_math += score_dic[name]['수학']
    sum_eng += score_dic[name]['영어']
    sum_kor += score_dic[name]['국어']
    
sum_dic = {'수학':sum_math,'국어':sum_kor,'영어':sum_eng}
print(sum_dic)

{'수학': 221, '국어': 203, '영어': 170}

In [86]:
score_dic = {'홍길동':{'수학':99,'영어':80,'국어':75},
             '김미정':{'영어':67, '국어':87,'수학':55},
             '정수진':{'수학':67,'국어':41,'영어':23}}
a = 0
b = 0
c = 0
for subject in score_dic.values():
    a+=subject['수학']
    b+=subject['국어']
    c+=subject['영어']
    
print('수학: {}, 국어:{}, 영어:{}'.format(a,b,c))

수학: 221, 국어:203, 영어:170

In [ ]:
score_dic = {'홍길동':{'수학':99,'영어':80,'국어':75},
             '김미정':{'영어':67, '국어':87,'수학':55},
             '정수진':{'수학':67,'국어':41,'영어':23}}

In [90]:
#선생님코드
kor = 0
math = 0 
eng = 0
for name in score_dic.keys():
    math += score_dic[name]['수학']
    kor += score_dic[name]['국어']
    eng += score_dic[name]['영어']

score_total = {'수학':math, '국어':kor, '영어':eng}
print(score_total)

{'수학': 221, '국어': 203, '영어': 170}

# 함수(Function)
- 실행할 명령들을 독립적으로 실행할 수 있게 모아둔 집합

In [91]:
# 함수 정의
# 매개변수 : 함수를 호출한 변수를 저장하는 곳
def number_sum(num1,num2):
    print(num1 + num2)

In [94]:
number_sum(5,5) # 함수 호출(실행)
number_sum(10,5)
number_sum(10,2)

10
15
12

In [95]:
#가변 매개변수 정의 : 튜플 형태로 저장
#입력받을 매개변수의 갯수를 알 수 없을 때
def number_print(*num):
    print(num)

In [96]:
number_print(1,23,5,4,243,12,3,45,67,8,9900)

(1, 23, 5, 4, 243, 12, 3, 45, 67, 8, 9900)

In [99]:
def add_sub(num1,num2):
    # 함수를 호출한 곳으로 값 보내기 -> 튜플 형태
    return num1+num2, num1-num2

In [100]:
add_sub(5,6) # 두 개의 값을 반환하는 함수

(11, -1)

In [102]:
a, b = add_sub(5,6)
print(a)
print(b)

11
-1